<div class="container-fluid">
    <div class="container">
        <p class="jumbotron mt-3">
            Contact us pages. Everyone has them, needs them, but are you really paying attention to the strategy behind them?

            It’s true isn’t it? One of the most valuable pages on your website is usually an afterthought.

            It’s one of those things that has to be there, but often enough, you throw the necessary information on and leave it
            at
            that.

            What a waste!

            The page name itself is a call-to-action; Treat it with some respect.

            Contact us pages are often the go-to for a new visitor on a mission. It’s where they go when they have a question
            and
            truly want to speak to an individual at your organization.

            They exist to serve the user with the purpose of providing the user with information on how they can get in touch
            with
            you.

            The goal of every contact us page is to convert by clearly and effectively presenting the method(s) of getting in
            touch
            with a company as quickly as possible.

            Here are a few best practices that you should keep in mind when putting together your next contact us page:

            Start with some copy, explain why the user should contact you and prompt them to do so.
            Avoid unnecessary information. The purpose of your contact us page is one of the most direct. If the information is
            not
            focused on explaining on how someone can communicate with you directly, it shouldn’t be there. .
            Don’t ask for unnecessary information. Keep your form fields to the point and don’t add questions you don’t
            immediately
            need the answers to to help the user on their journey.
            Offer more than one way to contact you. Sometimes users want to talk to you on the phone, or live chat, rather than
            fill
            out a form. Be sure to give them the option to choose the method they’re most comfortable with.
            Personalize as much as you can. Use features like smart content and conditional logic to adapt the page to the
            user’s
            needs. Do you have a different set of questions for a prospect than you do a user that needs support? Make sure your
            page displays the right questions and information no matter the persona.
            Set the right expectations. Reassure the user that you will contact them back. Highlight your response time, or let
            them
            know who they will be hearing from.
            Now that you know what the best contact us pages include, ready to see some all-star examples?

            You’re in luck. I’ve curated this article with the help of our entire design team!

            Each of us has chosen five of our favorite contact us pages and we let you know why we like it, what they could have
            done better and some solid inspiration for your next contact us page redesign.
        </p>
    </div>
</div>