<div>
  <img appLogo src="https://11cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/nutraingredients-usa.com/article/2019/09/23/cbd-supplement-sales-rocket-to-take-top-spot-in-the-us-natural-channel/10137674-1-eng-GB/CBD-supplement-sales-rocket-to-take-top-spot-in-the-US-natural-channel_wrbm_large.jpg" />
  <a [routerLink]="''">Home</a> &nbsp;
  <a [routerLink]="'about'">About</a> &nbsp;
  <a [routerLink]="'contact'">Contact</a> &nbsp;
  <a *ngIf="(!isLogout() && isLogin())" [routerLink]="'login'">Login</a> &nbsp;
  <a *ngIf="(isLogout())" [routerLink]="''">Logout</a> &nbsp;
</div>
{{input}}

<h1 (click)="clickToH1($event)">Click</h1>