<!-- <div class="container-fluid" *ngIf="true">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="input-group mb-3">
        <input type="number" [(ngModel)]="templateNo" class="form-control" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
      </div>
    </li>
  </ul>
  <div class="list-group">
    <div class="list-group-item" *ngSwitchCase="0">
      <h1>Template 0</h1>
    </div>
  </div>
</div> -->
<button (click)="getUserListData()">Get data</button>
{{userList | json}}